<!DOCTYPE html>
<html>
<head>
	<title>CONGRESO UCV</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_base.css">
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Exo|Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top bg-custom">
  		<div class="container-fluid">
    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: black">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
      		</button>
    		</div>
   		 <div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav navbar-right" style="font-family: Exo; font-size: 18px;">
        		<li><a href="#banner" style="color: white">INICIO</a></li>
        		<li><a href="#nosotros" style="color: white">NOSOTROS</a></li>
        		<li><a href="#patrocinio" style="color: white">PATROCINIO</a></li>
        		<li><a href="#myCarousel" style="color: white">TÓPICOS</a></li> 
        		<li><a href="#agenda" style="color: white">AGENDA</a></li>
        		<li><a href="#contacto" style="color: white">REGISTRO</a></li>
      		</ul>
    	 </div>
  		</div>
		</nav>		
	</header>

	<div class="container" id="banner">
		<div class="row banner">

			<div class="hidden-x hidden-sm col-md-6"></div>

			<div class=" col-xs-12 col-sm-12 col-md-6 bg-opacity">
				
				<div class="container-text">
					<h2> TRANSFORMACIÓN Y TRANSFERENCIA DIGITAL: ÁGIL, DINÁMICA Y COLABORATIVA</h2>
					<hr>
					<h2 class="fecha">21 de marzo 2018</h2>
					<hr>
					<h3 class="fecha">Costo de la entrada</h3>
					<h3 class="no-margin low-xs">Público general:150.000,00</h3>
					<h3 class="no-margin low-xs">Estudiantes:150.000,00</h3>
					<h3 class="no-margin low-xs">Profesores:150.000,00</h3>
					<h2 class="registro">¡Registrate y participa!</h2>
					<br>
					
					<!--<a class="btn btn-warning" href="#contacto">Registro de usuario </a>-->
				</div>

				<ul class="logos-img">
					<li><img class="" src="../static/img/ucv.png"></li>
					<li><img class="" src="../static/img/ciencias_logo_b.png"></li>
					<li><img class="" src="../static/img/logo_faces.png"></li>
				</ul>

			</div>

		</div>
	</div>

	<div class="container" id="nosotros">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">

				<div class="container-nosotros">
					<h2 class="fnt-roboto-slab txt-cntr margin-80 color-blue">La Universidad Central de Venezuela invita a las empresas a incorporarse al Mundo de la transformación digital, la agilidad en los procesos y la alta productividad.</h2>
			 		<hr style="background-color: black; border-color: black;">
					<p >El Postgrado en Gestión de Investigación y Desarrollo de la Facultad de Ciencias Económicas y Sociales FaCES y el Centro de Investigación en Sistemas de Información-CISI, de la Facultad de Ciencias, de la Universidad Central de Venezuela UCV invitan, con motivo de celebrarse el 30 Aniversario del Postgrado en Gestión de Investigación y Desarrollo, al evento: <b>TRANSFORMACIÓN Y TRANSFERENCIA DIGITAL: ÁGIL, DINÁMICA Y COLABORATIVA</b></p>
					<hr style="background-color: black; border-color: black;">
				</div>

			</div>

			<div class="hidden-xs col-sm-6 col-md-6" style="height: 100vh;">
				<br><br><br>
				<img src="../static/img/logo-ucv.jpg" class="center-block " width="450px;">
				<h2 class="nosotros_title">Nosotros</h2>
			</div>

		</div>
	</div>


	<div class="container" id="patrocinio">
		<div class="row vh" style="">
			<br>
			<br>
			<br>
			<br>

			<div class="col-md-6">

				<h3 align="center" style="font-family: Exo">¿Por qué ser patrocinante?</h3>
				<p align="justify">Se considera como Patrocinador del Evento cualquier institución pública, empresa, universidad y organización académica, que con su apoyo desee establecer relaciones de colaboración con la FaCES y la Facultad de Ciencias, para crear sinergias mediante el intercambio de beneficios y relaciones ganar-ganar<p> 
				<p align="justify">En este espacio, los patrocinadores puedan promover sus productos y/o servicios, así como la imagen de la organización, que además de consolidar una red de trabajo colaborativo como asociado estratégico de la UCV (Networking) para impulsar la Innovación Abierta, provea novedosas y disruptivas soluciones a las empresas en el mundo de la Transformación Digital y la Empresarialidad Ágil.</p>
				<h3 align="center" style="font-family: Exo">El evento ayuda a:</h3>
				<ul>
					<li>Fomentar el posicionamiento y reconocimiento de una marca</li> 
					<li>Impactar una audiencia interesada en la transferencia y la transformación digital.</li> 
					<li>Mostrar sus soluciones, productos y servicios mediante interacciones directas. </li>
					<li>Networking</li>
				</ul>
				<h3 align="center" class="fnt-roboto-slab">Planes de patrocinio</h3>

				<ul class="img-patrocinio txt-cntr">
					<li>
						<img src="../static/img/plata64.png">
						<p align="center">Plata</p>
					</li>
					<li>
						<img src="../static/img/oro64.png">
						<p align="center">Oro</p>
					</li>
					<li>
						<img src="../static/img/platino64.png">
						<p align="center">Platino</p>
					</li>
				</ul>

				<a href="../static/docs/PLANES_DE_PATROCINIO.pdf" target="_blank" class="fnt-roboto-slab" style="color:deepskyblue;"> PLANES DE PATROCINIO: CONDICIONES Y BENEFICIOS <i class="fa fa-eye" aria-hidden="true"> </i></a>
			</div>

			<div class="col-md-6">
				<h4 class="fnt-roboto-slab" style="font-size:40px;">Formulario de patrocinio</h4>
				<br>
				<form action="../registro_patrocinante.php" method="POST" id="form-reg-patrocinio">

				<input class="form-pat" type="text" name="nombre_p" placeholder="Nombre y apellido *" required pattern="[a-zA-Z]{3,10}[\s][a-zA-Z]{3,12}" title="Solo se permiten letras" id="nombreid_p" >
				<br>
				<br>
				<input class="form-pat" type="text" name="empresa_p" placeholder="Empresa" title="Solo se permiten letras" id="empresaid_p">
				<br>
				<br>
				<input class="form-pat" type="text" name="id_p" placeholder="Cédula de identidad/RIF *" required >
				<br>
				<br>
				<input class="form-pat" type="email" name="email_p" placeholder="Correo electrónico *" id="correoid_p" required>
				<br>
				<br>
				<input class="form-pat" type="tex" name="telfc_p" placeholder="Teléfono de contacto *" required>
				<br>
				<br>
				<input type="radio" name="tipo_pago_p" checked value="DEP">Depósito
				<input type="radio" name="tipo_pago_p" value="TRA">Transferencia
				<br>
				<br>
				<input class="form-pat" type="text" name="id_pago_p" placeholder="N° de transferencia/N° de depóosito *">
				<br>
				<br>
				<label for="fecha_pago_p" style="font-size: 18px;">Fecha del depósito o transferencia *</label>
				<input class="form-pat" type="date" name="fecha_pago_p">
				<br>
				<br>
				<p>Los campos identificados con * son obligatorios</p>
				<button class="btn btn-warning enviar_p" style="width: 100%;">Patrocinar</button>

				</form>
			</div>
			<br>
			<br>
		</div>
	</div>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ol class="carousel-indicators">
    		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    		<li data-target="#myCarousel" data-slide-to="1"></li>
    		<li data-target="#myCarousel" data-slide-to="2"></li>
    		<li data-target="#myCarousel" data-slide-to="3"></li>
  		</ol>

  		<!-- Wrapper for slides -->
  		<div class="carousel-inner" style="height: 100vh">
    		<div class="item active">
     
     			<div class="container">
     				<div class="row" >
						<br>
     					<br>
     					<br>
     					<br>
     		 			<div class="hidden-xs col-md-6" >
     						<img src="../static/img/topico1.jpg" alt="Los Angeles">
     					</div>

     					<div class="col-md-6">
      						<h1 class="topic-tittle fnt-roboto-slab">Investigación, Innovación y Desarrollo Abierto para la Gestión Ágil de Empresas</h1>
      						<hr>
      						<!--<h2 class="topic-subttile fnt-roboto-slab">¿La economía del futuro?</h2>-->
      						<!--<br>-->
      						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>

     				</div>
     			</div>

    		</div>

    		<div class="item">
     			<div class="container">
     				<div class="row">
						<br>
     					<br>
     					<br>
     					<br>
     		 			<div class="hidden-xs col-md-6">
     						<img src="../static/img/topico2.jpg" alt="Los Angeles">
     					</div>
     		
     					<div class="col-md-6 fnt-roboto-slab">
     			
      						<h1 class="topic-tittle" >Conformando Procesos Ágiles para la Alta Productividad Empresarial</h1>
      						<hr>
      						<!--<h2 class="topic-subttile fnt-roboto-slab">Información es poder</h2>-->
      						<!--<br>-->
      						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>

     				</div>
     			</div>
    		</div>

    		<div class="item">
       			<div class="container">
     				<div class="row">
						<br>
     					<br>
     					<br>
     					<br>
     		 			<div class="hidden-xs col-md-6">
     						<img src="../static/img/topico3.jpg" alt="Los Angeles">
     					</div>
     		
     					<div class="col-md-6">
     						
      						<h1 class="topic-tittle fnt-roboto-slab" >Desarrollando Nuevos Modelos De Negocios, Absorbiendo Las Buenas Prácticas Empresariales</h1>
      						<hr>
      						<!--<h2 class="topic-subttile fnt-roboto-slab">¿Estamos seguros en internet?</h2>-->
      						<!--<br>-->
      						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
     				</div>
      			</div>
    		</div>

    		<div class="item">
       			<div class="container">
     				<div class="row">
						<br>
     					<br>
     					<br>
     					<br>
     		 			<div class="hidden-xs col-md-6">
     						<img src="../static/img/topico3.jpg" alt="Los Angeles">
     					</div>
     		
     					<div class="col-md-6">
     						
      						<h1 class="topic-tittle fnt-roboto-slab" >Creando Novedosas Estrategias De Valor, Mediante Mejores Prácticas Tecnológicas que la Competencia</h1>
      						<hr>
      						<!--<h2 class="topic-subttile fnt-roboto-slab">¿Estamos seguros en internet?</h2>-->
      						<!--<br>-->
      						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
     				</div>
      			</div>
    		</div>

    	</div>


  		<!-- Left and right controls -->
  		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#myCarousel" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right"></span>
    		<span class="sr-only">Next</span>
  		</a>

	</div>


	<div class="container" id="agenda">
		<div class="row">

			<br>
			<br>
			<br>

			<div class="col-xs-12 col-sm-12 col-md-6 ">
                                                                                
  				<div class="table-responsive">          
  					<table class="table">
    					<thead>
      						<tr class="active">
        						<th>Horario</th>
        						<th>Ponencia</th>
        						<th>Ponente</th>
      						</tr>
    					</thead>
    					<tbody>
      						<tr class="info">
        						<td>08:00  08:30</td>
        						<td>Apertura</td>
        						<td> </td>
      						</tr>
      						<tr>
        						<td>08:30  09:00</td>
        						<td>Ámbito digital</td>
        						<td>Francisco Mirabal – UCV </td>
      						</tr>
      						<tr>
        						<td>09:00  09:25</td>
        						<td>Procesos ágiles</td>
        						<td>Franky Uzcátegui</td>
      						</tr>
      						<tr>
        						<td>09:25  09:50</td>
        						<td>Uso de Buenas Prácticas Empresariales para Igualar y Superar la Competencia </td>
        						<td>María Isabel – PMI</td>
      						</tr>
      						<tr class="info">
        						<td >09:50  10:10</td>
        						<td>Refrigerio / Networking / Stands</td>
        						<td> </td>
      						</tr>
      						<tr>
        						<td>10:10  10:35</td>
        						<td>Uso de Mejores Prácticas Tecnológicas para Diferenciar las Empresas </td>
        						<td>Franklin Sandoval – UCV</td>
      						</tr>
      						<tr>
        						<td>10:35  11:00</td>
        						<td>UCV como Impulsor de la Transferencia y la Transformación Digital</td>
        						<td>Mercy Ospina – UCV</td>
      						</tr>
      						<tr>
        						<td>11:00  12:00</td>
        						<td>Conversatorio</td>
        						<td></td>
      						</tr>
      						<tr class="info">
        						<td >12:00 - 01:30</td>
        						<td>Refrigerio / Networking / Stands</td>
        						<td> </td>
      						</tr>
      						<tr>
      							<td>01:30  01:50</td>
      							<td>Alcaldia y UCV - Ecosistema de Emprendimientos Ágiles</td>
      							<td>María Gómez - UCV</td>
      						</tr>
      						     						      						
    					</tbody>
  					</table>
  				</div>	
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr class="active">
									<th>Horario</th>
									<th>Ponencia</th>
									<th>Ponente</th>
								</tr>
							</thead>
							<tbody>
							<tr>
      							<td>01:50  02:05</td>
      							<td>Paradigmas del Cambio Ciencias Emprende</td>
      							<td>José Atonio Fernandez - Emprendemetas</td>
      						</tr>
      				      	<tr>
      							<td>02:05 - 02:20</td>
      							<td>Empresarialidad Naranja. El arte de gestionar empresas exitosas </td>
      							<td></td>
      						</tr>
      				      	<tr>
      							<td>02:20  02:35</td>
      							<td>Empresa1</td>
      							<td></td>
      						</tr>
      				      	<tr>
      							<td>02:35  02:50</td>
      							<td>Empresa2</td>
      							<td></td>
      						</tr>
      				      	<tr class="info">
      							<td>02:50  03:10</td>
      							<td>Refrigerio /Networking / Stands</td>
      							<td></td>
      						</tr>
				  			<tr>
      							<td>03:10  03:25</td>
      							<td>Lean Start Up (Aceleradora de Emprendimientos)</td>
      							<td>Esteban Reyes - ACCEDE</td>
      						</tr> 
      				      	<tr>
      							<td>03:25  03:40</td>
      							<td>Empresa 4 </td>
      							<td></td>
      						</tr>
      				      	<tr>
      							<td>03:40  03:55</td>
      							<td>Empresa 5 </td>
      							<td></td>
      						</tr>
      				      	<tr class="success">
      							<td>03:55  05:00</td>
      							<td>Sorteo y Conversatorio</td>
      							<td></td>
      						</tr>       						     						      						
    					</tbody>
  					</table>
  				</div>
			</div>
		</div>
	</div>



<div class="container" id="contacto">
	<div class="row contact">

		<div class="col-md-6">

			<div class="container-contactenos">
				<h2 class="hidden-xs">¡Participa!</h2>
				<hr>
				<div style="border: solid white .5px; background:rgba(0,0,0,.7)">
				<p align="center" class="fnt-roboto-slab" style="font-size: 30px;">Datos Bancarios</p>
				<p>Ceneac Producciones C.A.</p><p>Rif J-30529216-7</p>
				<p>Banco Provincial - Cta Corriente nro. 0108-0019-62-0100-0488-29</p>
				<p>Tlf 02126051125</p>
				</div>
			</div>
				
			
		</div>

		<div class="col-md-6">

			<form class="form" method="POST" id="myform">
				<h1 class="fnt-white fnt-roboto-slab">Formulario de registro participante</h1>
				<br>
				<input class="usr-reg" type="text" name="nombre" placeholder="Nombre y apellido *" required title="Solo se permiten letras" id="nombreid" pattern="[a-zA-Z]{3,}[\s][a-zA-Z]{3,}">
				<br>
				<br>
				<input class="usr-reg" type="text" name="empresa" placeholder="Empresa" title="Solo se permiten letras" id="empresaid">
				<br>
				<br>
				<input class="usr-reg" type="text" name="ci" placeholder="Cédula de identidad *" required  title="Solo son permitidos números sin puntos ej:12345678 " pattern="[0-9]{7,8}">
				<br>
				<br>
				<input class="usr-reg" type="email" name="email" placeholder="Correo electrónico *" id="correoid" required title="indique un correo electrónico válido ej:ejemplo@correo.com">
				<br>
				<br>
				<input class="usr-reg" type="tex" name="telfc" placeholder="Teléfono celular *" required pattern="(0412|0416|0426|0414|0424)[0-9]{7}">
				<br>
				<br>
				<input class="usr-reg" type="text" name="telfh" placeholder="Teléfono de habitación" >
				<br>
				<br>
				<input class="" type="radio" name="tipo_pago" required value="DEP" checked>Depósito
				<input class="" type="radio" name="tipo_pago" value="TRA">Transferencia
				<br>
				<br>
				<input class="usr-reg" type="text" name="id_pago" placeholder="N° de transferencia/N° de depóosito *" placeholder="[0-9]{10,}">
				<br>
				<br>
				<label for="fecha_pago" class="fnt-white" style="font-size: 18px;">Fecha del depósito o transferencia *</label>
				<input class="usr-reg" type="date" name="fecha_pago">
				<br>
				<br>
				<p class="fnt-white">Los campos identificados con * son obligatorios</p>
				<button type="submit" class="btn btn-warning enviar" style="width: 80%;">Registrar</button>
			</form>

		</div>
		<br><br>
		<p id="ej"></p>
	</div>
</div>

<script type="text/javascript">

	function clean_form(){

		$(".usr-reg").val("");
	}

	$('.navbar-nav li a').click(function(){

		//$(this).parent().parent().find("li a").each(function(){
			//$(this).css("color","white");
		//});

		//$(this).css("color","orange");

		$('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
    }, 1000);

	});

	$("#nombreid, #empresaid, #correoid").keyup(function(){

		$(this).val(($(this).val().toUpperCase()));

	});

	$("#myform").submit(function(){
		 event.preventDefault();
	$.post("../registro_participante.php",$("#myform").serialize(),function(object){
		alert(object)
	});

	clean_form();

});

	$("#form-reg-patrocinio").submit(function(){
		event.preventDefault();
		$.post("../registro_patrocinante.php",$("#form-reg-patrocinio").serialize(),function(object){
			alert(object);
		});
		clean_form();
	});


</script>

</body>
</html>


