/*

TABLA DE COLORES 
-----------------
GRIS CLARO : rgb(218, 221, 226);
GRIS OSCURO: rgb(160, 169, 174);
TERRACOTA: rgb(127, 74, 70);
AZUL : rgb(36, 59, 100);
MORADO:rgb(115, 40, 70);


 */

.fnt-white{
	color: white;
}
.color-blue{
	color: rgba(115, 40, 70,1);
}
.margin-80{
	margin-top: 80px;
}
.fnt-roboto-slab{
	font-family: Roboto Slab;
}

.txt-cntr{
	text-align: center;
}

.txt-l{
	text-align: left;
}

.txt-r{
	text-align: right;
}

#banner,#contacto{
	height: 100vh;
	width: 100%;
}

#patrocinio,#nosotros{
	height: 100vh;
}

.vh{
	height: 100vh;
}

#patrocinio{
	color: white;
	width: 100%;
	background:url(../img/banner2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#banner{
	background:url(../img/banner4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#nosotros{
	/*background: rgb(218, 221, 226);*/
	
}

.bg-custom{
background:/*rgb(234, 241, 247) */ rgba(115, 40, 70,1);
border:none;
}

.bg-opacity{
	height: 100vh;
	background:rgba(36, 59, 100,.6); /* GRIS CLARO rgba(160, 169, 174,.7);*/ /* MORADO rgba(115, 40, 70,.8)*/;
}

.fecha, .registro{
	font-weight: 700;
}

.container-text{
	font-family: Roboto;
	width:400px;
	display: inline-block;
	color: white/*rgb(247, 236, 22)*/;
	text-align: center;
}

.logos-img{
	margin-top: 80px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.logos-img li {
	list-style: none;
	text-decoration: none;
	margin: 2em 0px 2em 0px;
	padding: 0px;

}

.nosotros_title{
	
	position: absolute;
	bottom:0px;
	right: 0px;
	margin-top: .5em;
	font-size: 10em;
	font-weight: 400;
	font-family: Roboto Slab;
	color: rgba(115, 40, 70,1);
	text-align: center;
}

.fnt-s20{
	font-size: 20px;
}

.container-nosotros{
	text-align: justify;
	padding-left: 10px;
	margin-top:100px;
	font-family:Roboto;
}

#contacto{
	background:url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container-contactenos{
	margin-top: 100px;
	color: white;
	padding: 10px;
}

.container-contactenos h2 {
	font-family:Roboto Slab;
	text-align: center;
	font-size:8em;
	font-weight: 400;
}

.container-contactenos p {
	text-align: center;
	font-size:20px;
}

.contact{
	background: rgba(0,0,0,.5);
	 height: 100vh;
}

.usr-reg{
	width: 80%;
	border: none;
	background: transparent;
	border-bottom: solid 1px white;
	color: white;
}

.usr-reg:focus{
	outline: none;
}

.usr-reg::placeholder{
	color:white;
	font-weight: 400;
	font-size: 18px;
}

.form{
	margin-top: 80px;
	color:white;
}

.form-pat{
	width: 100%;
	border: none;
	background: transparent;
	border-bottom: solid 1px white;
}

.form-pat:focus{
outline: none;
}

.form-pat::placeholder{
	color: white;
}


.topic-tittle{
	color:rgb(127, 74, 70);
	font-weight: 700;
}

#agenda{
}

.no-margin{
	margin:0;
	padding: 0;
}

.img-patrocinio{
	margin :0;
	padding: 0;
}

.img-patrocinio li{
	list-style: none;
	display: inline-block;
}

/*-----------------------------*/
@media (max-width: 768px){
	#banner,#contacto,#patrocinio,#nosotros{
	height: auto;
}

.contact{
	height: auto;
}

.logos-img li{
display: inline;
}

.logos-img li img{
	width: 70px;
}

.container-text{
	width: auto;
	margin-top: 90px;
}

.container-text h2{
	font-size: 18px;
}

.container-nosotros h2{
	font-size: 20px;
}

.topic-tittle{
	font-size: 20px;
}
.usr-reg{
	width:100%;
}
.vh{
	height: auto;
}

.low-xs{
font-size: 18px;
}


}